.hero {
  width: 100%;
  min-height: 812px;

  @media(max-width: 1300px) {
    min-height: 600px;
  }

  @media(max-width: 768px) {
    padding-top: 125px;
  }

  @media(max-width: 576px) {
    min-height: 500px;
  }
}

.hero-slide {
  position: relative;
  background-color: #e1e1e1;
  background-image: url('/background/bg-home-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}