.footer {
  background-color: #DFDFDF;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  padding: 60px 0;

  @media (max-width: 768px) {
    justify-content: space-around;
  }
}

.address {
  background-color: var(--first-color);
  padding: 40px 0;
  text-align: center;
  color: #a1a1a1;
}