.blog {
  margin-top: 125px;
}

.wrap {
  display: flex;
  gap: 30px;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.blog-info {
  max-width: 730px;

  @media (max-width: 992px) {
    margin: 0 auto;
  }
}

.quote {
  background-color: rgba(223, 223, 223, 0.50);
  padding: 55px 65px;
  margin-top: 50px;
  margin-bottom: 50px;

  p {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: 38px;
  }

  h2 {
    text-align: center;
    font-family: var(--montserrat);
    font-weight: var(--bold);
    line-height: 22px;
  }
}

.divider {
  width: 200px;
  height: 1px;
  background-color: #6D7278;
  margin: 20px auto;
}